@import url(fonts.css);

:root {
  --ArgCeleste: rgba(117, 170, 219);
  --ArgBlanco: rgba(255, 255, 255);
  --ArgAmarillo: rgba(252, 191, 69);

  --AnchoWeb: 80%;
}

.logo {
  text-decoration: none;
  color: var(--ArgBlanco);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo img {
  padding: 0;
  margin: 0;
}

.logo span {
  padding-left: 0.5rem;
}

/* ------------------------- reseteo html body ------------------------- */
html,
body {
  margin: 0;
  max-width: 1920px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--ArgCeleste);
  font-family: "Kalam-regular";
  scroll-behavior: smooth;
  text-shadow: 1px 1px 1px black;
}

/* ------------------------- Botones redes sociales ------------------------- */
.contenedor-fb {
  display: flex;
  justify-content: center;
}

.fb-comentarios {
  width: 80%;
  margin: auto;
  padding-bottom: 5rem;
}

/* ------------------------- BURGUER MENU ------------------------- */

.burguer-menu {
  display: none;
}

/* ------------------------- Navegacion ------------------------- */

.encabezado {
  position: relative;
}

.navegacion {
  position: relative;
  margin: auto;
  width: var(--AnchoWeb);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.nav ul {
  display: flex;
  padding: 0;
}

.nav ul li {
  padding: 0;
  list-style: none;
}

.nav ul li a {
  padding: 0 2rem;
  text-decoration: none;
  color: var(--ArgBlanco);
  font-size: 1.3rem;
  text-transform: uppercase;
}

.logo img {
  position: relative;
  z-index: 4000;
  width: 4rem;
  height: 4rem;
}
.nav ul li a:hover {
  border-radius: 5%;
  border-left-style: ridge;
  border-right-style: ridge;
  border-width: 1px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

/* ------------------------- main ------------------------- */

main {
  background-color: var(--ArgBlanco);
}

/* ------------------------- SECCION 1 ------------------------- */

.seccion1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--ArgCeleste);
  text-shadow: 1px 1px 1px black;
}

.seccion1 h2 {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.8rem;
}

#generos {
  position: absolute;
  top: 12em;
}

.seccion1 p {
  padding-bottom: 2em;
  font-size: 1.3rem;
  width: var(--AnchoWeb);
  margin: auto;
  text-align: center;
}

/* ------------------------- CARRUSEL ------------------------- */

.contenedor_carrusel {
  position: relative;
  width: var(--AnchoWeb);
  margin: auto;
  display: flex;
  align-items: center;
}

.carrusel_imagenes {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  scroll-behavior: smooth;
}

.carrusel_imagenes a {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--ArgCeleste);
}

.carrusel_imagenes a img {
  border: 2px solid black;
  width: 300px;
  height: auto;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

.carrusel_imagenes a img:hover {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  box-shadow: 0px 0px 10px black;
}

/* ------------------------- flechas carrusel ------------------------- */

.flecha_izq,
.flecha_der {
  position: absolute;
  z-index: 5000;
  background: rgba(40, 40, 40, 0.9);
  cursor: pointer;
  color: white;
  border: 1px solid white;
  width: 3rem;
  height: 60%;
  font-size: 2.5rem;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.flecha_izq:hover,
.flecha_der:hover {
  background: rgba(40, 40, 40, 1);
  box-shadow: 0px 0px 50px rgba(255, 255, 255);
  border: 1px solid var(--ArgAmarillo);
  color: var(--ArgAmarillo);
}

.flecha_izq:active,
.flecha_der:active {
  border: 5px solid white;
}

.flecha_izq {
  left: 0;
}

.flecha_der {
  right: 0;
}

/* ------------------------- SECCIÓN 2 ------------------------- */

.seccion2 {
  width: 100%;
  height: 100%;
  color: var(--ArgBlanco);
  margin: auto;
  height: auto;
  text-align: center;
  background-color: var(--ArgCeleste);
}

.seccion2 h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-top: 3rem;
  text-shadow: 1px 1px 1px black;
}

.encabezado_noticias {
  width: var(--AnchoWeb);
  margin: auto;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px black;
}

.notas {
  width: var(--AnchoWeb);
  box-sizing: border-box;
  filter: saturate(80%);
  -webkit-filter: saturate(80%);
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-areas: "principal principal secundaria" "principal principal terciaria";
  gap: 0.5rem;
}

.notas a {
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
  padding: 0 0.5rem;
  box-sizing: border-box;
  height: 100%;
  color: var(--ArgBlanco);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
}

.notas a:hover {
  border-radius: 5px;
  box-shadow: inset 0 0 10px var(--ArgBlanco);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nota_tipo {
  font-size: 0.9rem;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.nota_tipo,
.notas h3,
.subtitulo_articulo1 {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px black;
}

.notas h3 {
  font-family: "Kalam-bold";
  font-size: 1.5rem;
  margin: 0;
}

.articulo2 h3,
.articulo3 h3 {
  font-size: 1.3rem;
}

.subtitulo_articulo1 {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  text-align: justify;
}

.notas article {
  box-shadow: 1px 1px 12px black;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.articulo1 {
  background-image: url(../img/noticias/festival1.jpeg);
  grid-area: principal;
}
.articulo2 {
  background-image: url(../img/noticias/lospericos1.jpeg);
  grid-area: secundaria;
}
.articulo3 {
  background-image: url(../img/noticias/agustin1.jpg);
  grid-area: terciaria;
}

/* ------------------------- Footer ------------------------- */

footer {
  background-color: var(--ArgBlanco);
  color: var(--ArgCeleste);
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.footer {
  margin: auto;
  width: var(--AnchoWeb);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
}

.redes h2 {
  padding: 4rem 0 0 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
}

.footer1 ul li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: var(--ArgCeleste);
  text-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.footer1 ul li a img {
  padding: 0;
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}

.footer2 ul {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.footer1 ul {
  justify-content: left;
}

.footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  display: flex;
}

footer ul li a img {
  width: 3rem;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

footer ul li a img:hover {
  scale: 1.1;
  filter: drop-shadow(0 0 3px yellow);
  -webkit-filter: drop-shadow(0 0 3px var(--ArgAmarillo));
}

footer p {
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

/* ------------------------- FORMULARIO NEWSLETTER ------------------------- */

.contenedor-formulario {
  margin: auto;
  width: 80%;
}

.contenedor-formulario h3 {
  font-size: 1.5rem;
}

.formulario {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.boton-formulario {
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  box-shadow: inset 0 0 0 0 var(--ArgAmarillo);
  background-color: var(--ArgCeleste);
  font-size: 1.2rem;
  color: white;
  font-family: "Kalam-regular";
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: ease-out 0.4s;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  -ms-transition: ease-out 0.4s;
  -o-transition: ease-out 0.4s;
}

.formulario .boton-formulario:hover {
  box-shadow: inset 0 100px 0 0 var(--ArgAmarillo);
}

#email {
  width: 40%;
  padding: 0.3rem;
  height: 2.2rem;
  border-color: var(--ArgCeleste);
  background-color: whitesmoke;
  font-size: 1rem;
}

/* ------------------------- VENTANA MODAL DE FORMULARIO EMAIL ------------------------- */

.pantallaCompleta {
  position: relative;
  display: none;
  border-radius: 50px 0px 50px 0px;
  box-shadow: 2px 2px 8px black;
  width: 90%;
  height: auto;
  border: 2px solid gray;
  margin: auto;
  padding: 0.3rem;
  background-color: var(--ArgCeleste);
  color: var(--ArgBlanco);
  font-size: 3rem;
  -webkit-border-radius: 50px 0px 50px 0px;
  -moz-border-radius: 50px 0px 50px 0px;
  -ms-border-radius: 50px 0px 50px 0px;
  -o-border-radius: 50px 0px 50px 0px;
}

.pantallaCompleta p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.pantallaCompleta p:nth-child(1),
.pantallaCompleta p:nth-child(2) {
  margin: 2rem;
}

.pantallaCompleta img:first-child {
  width: 50px;
  height: 50px;
}

.pantallaCompleta img:last-child {
  width: 70px;
  height: 70px;
}

.bienvenido-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailUsuario {
  background-color: var(--ArgBlanco);
  color: var(--ArgCeleste);
  padding: 0 0.5rem;
  box-shadow: 0px 0px 1px black;
  border-radius: 18px 0px 18px 0px;
  -webkit-border-radius: 18px 0px 18px 0px;
  -moz-border-radius: 18px 0px 18px 0px;
  -ms-border-radius: 18px 0px 18px 0px;
  -o-border-radius: 18px 0px 18px 0px;
}

.bienvenido-logos img:first-child {
  margin-right: 0.51rem;
}
